.clients-div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin-top:40px;
}
.clients-div h1{
    font-size:30px;
    color:var(--secundary-dark);
    text-align:center;
    margin-top:80px;
}
.clients-div p{
    font-size:14px;
    color:var(--secundary-light);
    text-align:center;
}
.client{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:100px;
    margin-top:100px;
    margin-bottom:60px;
}
.clients{
    width:70px;
    margin-top:20px;
}
.card-client{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    box-shadow: 0 16px 30px #ABBED1;
    border-radius: 20px;
}
.card-client p{
    font-size: 24px;
}