header .container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding-top: 40px;
}
.right-header{
    display:flex;
    flex-direction:row;
    gap:30px;
}
.right-header ul{
    display:flex;
    flex-direction:row;
    gap:30px;
    list-style: none;
}
.right-header ul li a{
    text-decoration:none;
}
.normal-link{
    color:var(--secundary-dark);
    font-size:24px;
}
.logo{
    width: 200px;
}
.green-link{
    background-color:var(--primary);
    color:#fff;
    padding:20px 29px;
    border-radius:9px;
    font-size:24px;
    text-decoration:none;
}